<div class="container">
    <h2 class="my-5">Le tue clip</h2>    
    {{#each clip}}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{this.titolo}}</h4>
          <br>
          <audio style="width: 100%" controls src="data:audio/ogg;base64,{{this.audio}}"/></audio>

          <!-- Cancella nota per titolo -->
          <form action='/lista-clip/{{this._id}}?_method=DELETE' method="post" class="my-2">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Cancella">
          </form>

        </div>
      </div>
      <br>           
    {{!-- <table class="table table-hover">
      <thead>
        <th style="width: 100%">Titolo</th>
        <th>Clip</th>                      
      </thead>
      <tbody id="table">
          <tr>
            <td>{{this.titolo}}</td>
            <td><audio controls src="data:audio/ogg;base64,{{this.audio}}"/></td>
          </tr>
      </tbody>
    </table> --}}
    {{else}}
    <div class="alert alert-warning">Non c'è nessuna clip</div>
    {{/each}}
</div>

<script>
  $("a[href='/editor']").addClass("active");
  $("a[href='/lista-clip']").addClass("active");
</script>