<div class="container">
  <h2 class="my-5">Le tue clip</h2>
  <div id="autenticati" class="mb-5">
    <div class="alert alert-warning">Per caricare le tue clip su YouTube devi prima autenticarti con Google.</div>
    <button class="btn btn btn-outline-secondary" onclick="handleAuthClick()"><i class="fab fa-google"></i>
      Accedi</button>
  </div>
  {{#each clip}}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{this.titolo}}</h4>
      <p class="card-text">{{this.testo}}</p>
      <audio style="width: 100%" controls src="data:audio/mp3;base64,{{this.audio}}" /></audio>

      <!-- Cancella nota per titolo -->
      <form action='/lista-clip/{{this._id}}?_method=DELETE' method="post" class="my-2">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="Cancella">
      </form>

      <!-- Modifica clip -->
      <form action='/modifica-clip/{{this._id}}?_method=POST' method="post" class="my-2">
        <input type="hidden" name="mod" value="0" />
        <input type="hidden" name="_method" value="POST">
        <input type="submit" class="btn btn-primary btn-block" value="Modifica">
      </form>

      <!-- Carica su Youtube -->
      <form action='/lista-clip/{{this._id}}?_method=POST' method="post" class="my-2">
        <input type="hidden" name="_method" value="POST">
        <input type="submit" class="btn btn-success btn-block carica" value="Carica">
      </form>

    </div>
  </div>
  <br>
  {{else}}
  <div class="alert alert-warning">Non c'è nessuna clip</div>
  {{/each}}
  <input type="hidden" id="titolo" value="{{metadata.titolo}}">
  <input type="hidden" id="metadati" value="{{metadata.metadati}}">
  <input type="hidden" id="testo" value="{{metadata.testo}}">
  <input type="hidden" id="videoToUpload" value="{{videoToUpload}}">
</div>

<script>
  /* GAPI integration (oauth2) */
  // Options
  const CLIENT_ID =
    '807601852112-7omdcouallpk4115i6fueefg4mvnlgll.apps.googleusercontent.com';
  //'728495399298-7pn0ppv0ujalaq4j07ehnoel0dnlense.apps.googleusercontent.com';

  const DISCOVERY_DOCS = [
    'https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest'
  ];
  const SCOPES = 'https://www.googleapis.com/auth/youtube';

  function handleClientLoad() {
    gapi.load('client:auth2', initClient)
  }
  function initClient(callback) {
    gapi.client
      .init({
        discoveryDocs: DISCOVERY_DOCS,
        clientId: CLIENT_ID,
        scope: SCOPES
      })
      .then(() => {
        // Listen for sign in state changes
        gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);
        // Handle initial sign in state
        updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
        disabilitaBottoni(gapi.auth2.getAuthInstance().isSignedIn.get());
      })
      .catch(err => console.log(JSON.stringify(err)));
  }

  // Handle login
  function handleAuthClick() {
    gapi.auth2.getAuthInstance().signIn();
  }

  // Handle logout
  function handleSignoutClick() {
    gapi.auth2.getAuthInstance().signOut();
  }

  $(document).ready(function () {
    handleClientLoad();
  });

  function uploadVideo(file, metadata, callback) {
    // Get access token
    var auth = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token;

    // Setup request
    var form = new FormData();
    // In order to get the correct content type we need to set a blob field
    var metadata = new Blob([JSON.stringify(metadata)], { type: 'application/json' });
    form.append('video', metadata);
    form.append('mediaBody', file);
    $.ajax({
      url: 'https://www.googleapis.com/upload/youtube/v3/videos?access_token='
        + encodeURIComponent(auth) + '&part=snippet,status',
      data: form,
      cache: false,
      contentType: false,
      processData: false,
      method: 'POST',
      success: (data) => callback(data)
    });
  }

  function updateSigninStatus(isSignedIn) {
      if (isSignedIn) {
          if(document.getElementById("videoToUpload").value.length > 0){
            console.log("Cloudinary ha mandato la risorsa");
            var video = document.getElementById('videoToUpload').value;
            var metadata = {
              kind: 'youtube#video',
              snippet: {
                title: document.getElementById("titolo").value,
                description: document.getElementById("metadati").value + "%%%" + document.getElementById("testo").value,
              },
              status: {
                privacyStatus: 'public',
                embeddable: true
              }
            };
            fetch(video)
              .then(res => res.blob())
              .then(blob =>{
                uploadVideo(blob, metadata, function(data) {
                    alert("Grazie per il tuo contributo!");
                    // location.reload();
                })
              });
        }
      } 

    // Disabilita bottoni se offline
    var elements = document.getElementsByClassName("carica");
    for (var i = 0; i < elements.length; i++) {
      if (isSignedIn) {
        console.log("Sono loggato");
        elements[i].disabled = false;
        document.getElementById("autenticati").style.display = "none";
      } else {
        console.log("Non sono loggato");
        elements[i].disabled = true;
        document.getElementById("autenticati").style.display = "block";
      }
    }
  }

  $("a[href='/editor']").addClass("active");
  $("a[href='/lista-clip']").addClass("active");
</script>