<div class="container">
  <h2 class="my-4">Modifica clip "{{ titolo }}"</h2>
  <h5>Originale:</h5>
  <audio style="width: 100%" controls src="{{ audioLink }}"/></audio>
  <div class="slidecontainer my-4">
    <input type="range" min="-100" max="100" value="0" class="slider mb-2" id="volume_barra">
    <p>Aumento del volume del <span id="volume_valore" style="border:0; color:#f6931f; font-weight:bold;"></span>%</p>
  </div>
  <div id="double-slidercontainer" class="container text-center">
    <div id="double-slider" class="mb-2"></div>
    <div class="inline-block text-left">
      <label for="amount">Inizio Clip: </label>
      <input class="mb-2" type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </div>
    <div class="inline-block text-left">
      <label for="amount2">Fine Clip: </label>
      <input type="text" id="amount2" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </div>
  </div>
  <button class="btn btn-primary my-4" id="controlla">Controlla modifiche</button>
  <h5>Modificata:</h5>
  <div id="risultato">
    <div class="alert alert-warning mb-2">Non hai ancora modificato la clip</div>
  </div>
  <div id="sostituisci_risultato"></div>
</div>

<style type="text/css">
  #double-slidercontainer {
    padding: 0 5em;
  }

  .slidecontainer {
    padding: 0 5em;
    width: 100%;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
</style>

<script>
$( "#double-slider" ).slider({
  range: true,
  min: 0,
  max: "{{ duration }}",
  values: [ 0, "{{ duration }}", ],
  slide: function( event, ui ) {
    var minuti = Math.floor(ui.values[ 0 ]  / 60);
    var secondi = ui.values[ 0 ] - (minuti * 60);
    if (secondi < 10) {secondi = "0"+secondi;}
    var minuti2 = Math.floor(ui.values[ 1 ]  / 60);
    var secondi2 = ui.values[ 1 ] - (minuti2 * 60);
    if (secondi2 < 10) {secondi2 = "0"+secondi2;}
    $( "#amount" ).val( minuti + ":" + secondi );
    $( "#amount2" ).val( minuti2 + ":" + secondi2 );
  }
});
var minuti = Math.floor($( "#double-slider" ).slider( "values", 0 )  / 60);
var secondi = $( "#double-slider" ).slider( "values", 0 ) - (minuti * 60);
if (secondi < 10) {secondi = "0"+secondi;}
var minuti2 = Math.floor($( "#double-slider" ).slider( "values", 1 )  / 60);
var secondi2 = $( "#double-slider" ).slider( "values", 1 ) - (minuti2 * 60);
if (secondi2 < 10) {secondi2 = "0"+secondi2;}
$( "#amount" ).val( minuti + ":" + secondi );
$( "#amount2" ).val( minuti2 + ":" + secondi2 );

var slider = document.getElementById("volume_barra");
var volume_valore = document.getElementById("volume_valore");
var ID_risultato;
volume_valore.innerHTML = slider.value;

slider.oninput = function() {
  volume_valore.innerHTML = this.value;
}

$(document).ready(function(){
  $("#controlla").click(function(){
    console.log("durata: "+"{{ duration }}");
    var inizio_clip = $( "#double-slider" ).slider( "values", 0 );
    var fine_clip = $( "#double-slider" ).slider( "values", 1 );
    console.log("inizio: " + inizio_clip);
    console.log("fine: " + fine_clip);
    if(fine_clip == "{{ duration }}")
    {
      fine_clip = fine_clip + 1;
    }
    if(inizio_clip == "{{ duration }}")
    {
      inizio_clip = inizio_clip + 1;
    }
    console.log("fine(definitiva): " + fine_clip);
    if(inizio_clip == fine_clip){ alert("errore: impossibile creare una clip da 0 secondi")}
    else{
      $.ajax({
        url: 'http://localhost:8000/modifica-clip/{{ id }}',
        // url: 'https://site181918.tw.cs.unibo.it/modifica-clip/{{ id }}',
        type: 'POST',
        data: { mod : "1" , audioId : "{{ audioId }}" , volume : slider.value , inizio : inizio_clip , fine : fine_clip},
        success: function(data) {
          document.getElementById("risultato").innerHTML = "<audio style=\"width: 100%\" controls src=\"" + data + "\"/></audio>";
          ID_risultato = data;
          document.getElementById("sostituisci_risultato").innerHTML = "<button class=\"btn btn-success\" onclick=\"sostituisci()\">sostituisci</button>";
        }
      });
    }
  });
});

function sostituisci(){
  var audiob64;
  var xhr = new XMLHttpRequest();
  xhr.onload = function () {
    // Create a Uint8Array from ArrayBuffer
    var codes = new Uint8Array(xhr.response);

    // Get binary string from UTF-16 code units
    var bin = String.fromCharCode.apply(null, codes);

    // Convert binary to Base64
    audiob64 = btoa(bin);
    console.log("audiob64" + audiob64);
    $.ajax({
      url: 'http://localhost:8000/modifica-clip/{{ id }}',
      // url: 'https://site181918.tw.cs.unibo.it/modifica-clip/{{ id }}',
      type: 'POST',
      data: { mod : "2" , audio : audiob64 },
      success: function(data) {
        window.location.replace("http://localhost:8000/lista-clip/");
        // window.location.replace("https://site181918.tw.cs.unibo.it/lista-clip/");
      }
    });
  };
  // Send HTTP request and fetch file as ArrayBuffer
  xhr.open('GET', ID_risultato);
  xhr.responseType = 'arraybuffer';
  xhr.send();
}
$("a[href='/lista-clip']").addClass("active");
</script>